<%- include("parts/header") %>

<div class="topnav">
    <div class="topnav-right">
      <a class="btn" href="/new">New</a>
    </div>
  </div>

  <%- include("parts/introduction") %>

  
<%- include("parts/footer") %>