



          <div class="currentLine">

            <ul class="lines" style="list-style-type: none;">
              <% content.split("\n").forEach(function(line, index) { %>
          
                <li> <pre>  <code> <%= line %> </code>  </pre> </li> 
               <% }) %>
            </ul>

            
          </div>
  
 