


<pre class="introduction">
    <code>

   

    /*  Notebin  */

    Notebin is just a simple copy of hastebin, it is used for my portfolio.
    
    /*  How to use?  */
    
    To create a new code note you can click in the navigation bar on New.
    

    /*  Duration  */
    
    The notes will be stored until the developer decides to wipe the database.
    
    /*  Privacy  */
    
    Notebin will not save any IP's or user information it will only save the notes, remember everyone can go to your note with the right link. 
    
    /*  Github  */
    
    Code is placed on <a href="https://github.com/Snapje/Notebin.git">GitHub</a>

    /*  Author  */
    
    Coded and designed by <David Out>
    </code>   
    </pre>